{% extends 'base.html.twig' %}

{% block title %}Błąd techniczny{% endblock %}

{% block body %}

<div class="container">
    <div class="py-5 text-left">
        Wystąpił błąd techniczny
    </div>
</div>

{% endblock %}
